<main class="main-content">
  <div class="container">
      <div class="content-grid">
          <div 
            class="membership-card"
            [ngClass]="{
              'Plata': membresia?.plan === 'Plata',
              'Oro': membresia?.plan === 'Oro',
              'Diamante': membresia?.plan === 'Diamante'
            }"
          >
              <h2>Membresía</h2>
              <div class="price">
                  <span class="currency">$</span>
                  <span class="amount">{{ membresia?.costo | number: '1.0-0' }}</span>
                  <span class="cents">.00</span>
              </div>
              <div class="tier">{{ membresia?.plan }}</div>
              <ul class="benefits">
                  <li *ngFor="let beneficio of obtenerBeneficios(membresia)">
                      {{ beneficio }}
                  </li>
              </ul>
          </div>

          <div class="form-container">
              <form class="donation-form" [formGroup]="donacionForm" (ngSubmit)="onSubmit()">
                  <div class="content-grid-up">
                      <h3>DATOS PERSONALES</h3>
                      <div class="form-group">
                          <label for="nombre">Nombre:</label>
                          <input type="text" id="nombre" formControlName="nombre" required>
                      </div>
                      <div class="form-group">
                          <label for="apellido">Apellido paterno:</label>
                          <input type="text" id="apellido" formControlName="apellido_p" required>
                      </div>
                      <div class="form-group">
                          <label for="apellido">Apellido materno:</label>
                          <input type="text" id="apellido" formControlName="apellido_m" required>
                      </div>
                      <div class="form-group">
                          <label for="correo">Correo:</label>
                          <input type="email" id="correo" formControlName="correo" required>
                      </div>
                      <div class="form-group">
                          <label for="evento">Organización:</label>
                          <div class="select-wrapper">
                              <select id="evento" formControlName="id_org" required>
                                  <option value="">Seleccionar Organización</option>
                                  <option *ngFor="let org of organizaciones" [value]="org.id">
                                      {{ org.nombre }}
                                  </option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="content-grid-down">
                      <h3>DATOS DE LA TARJETA</h3>
                      <div formGroupName="tarjeta">
                          <div class="form-group">
                              <label for="numero">Número de tarjeta:</label>
                              <input type="text" id="numero" formControlName="numero_tarjeta" required>
                          </div>
                          <div class="form-group">
                              <label for="cvv">CVV:</label>
                              <input type="number" id="cvv" formControlName="cvv" required>
                          </div>
                          <div class="form-group">
                              <label for="expiración">Fecha de expiración:</label>
                              <input id="expiración" formControlName="fecha_expiracion" type="date" required>
                          </div>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-submit">DONAR</button>
              </form>
          </div>
      </div>
  </div>
</main>
