    <main class="main-content">
        <div class="container">
            <div class="donations-table-container">
             <link rel="stylesheet" href="donation-history.component.css">
                <div class="table-controls">
                    <div class="filter-dropdown">
                        <select>
                            <option>Primera donación</option>
                            <option>Última donación</option>
                        </select>
                    </div>
                    <button class="btn btn-refresh">
                        Actualizar
                        <img src="icono11.png" alt="Actualizar" class="refresh-icon">
                    </button>
                </div>

                <div class="table-wrapper">
                    <table class="donations-table">
                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Tipo de donación</th>
                                <th>Fecha</th>
                                <th>Donador</th>
                                <th>Cantidad</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Una vez</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$100 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Membresía</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$500 MXN</td>
                                <td>juan&#64;gmail.com</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Una vez</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$100 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Membresía</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$500 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Una vez</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$100 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Membresía</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$500 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Una vez</td>
                                <td>2024-11-04</td>
                                <td>Juan Pérez</td>
                                <td>$100 MXN</td>
                                <td>juan&#64;gamil.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
