<section class="how-we-work">
    <div class="container">
      <h2>¿Cómo trabajamos?</h2>
      <div class="work-steps">
        <div class="work-step">
          <div class="step-icon"><img src="icono1.png" alt=""></div>
          <h3>Tú aporte</h3>
        </div>
        <div class="work-step">
          <div class="step-icon"><img src="icono2.png" alt=""></div>
          <h3>Lo transformamos</h3>
        </div>
        <div class="work-step">
          <div class="step-icon"><img src="icono3.png" alt=""></div>
          <h3>Lo distribuimos</h3>
        </div>
      </div>
    </div>
  </section>