/* How We Work Section Styles */
.how-we-work {
    background-color: #B2D5F1;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
  }
  
  .how-we-work h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .work-steps {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .work-step {
    text-align: center;
  }
  
  .step-icon {
    font-size: 3em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }