<div class="container contact-content">
  <div class="contact-info">
    <img src="logo.png" alt="ONAT Logo" class="logo">
    <p>En ONAT, transformamos cada aporte en alimentos para quienes más lo necesitan. Colaboramos con organizaciones comunitarias para brindar apoyo a personas en situación de vulnerabilidad. Juntos, podemos hacer la diferencia y nutrir comunidades enteras.</p>
  </div>
  <div class="contact-form">
    <h2>Contáctanos</h2>
    <div class="contact-details">
      <div class="contact-item">
        <span class="icon"><img src="icono4.png" alt=""></span>
        <span>(+52) 9612198101</span>
      </div>
      <div class="contact-item">
        <span class="icon"><img src="icono5.png" alt=""></span>
        <span>onat&#64;gmail.com</span>
      </div>
    </div>
    <div class="contact-button-wrapper">
      <button class="btn btn-donate" href="/directdonation" (click)="navigateTo('/directdonation')">Donar!</button>
    </div>
  </div>
</div>
