.event-history-container{
  height: 100vh;
}

.event-history-content {
    padding: 20px;
    background-color: #d3e9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  
  .event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-item {
    background-color: #c5c5c550;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
    transition: transform 0.2s;
  }
  
  .event-item:hover {
    transform: translateY(-5px);
  }
  
  .event-item h4 {
    margin: 0;
    font-size: 25px;
    color: #E5863A;
  }
  
  .event-item p {
    margin: 5px 0;
    color: #00172F;
  }
  
  .no-events {
    text-align: center;
    color: #888;
    font-size: 16px;
  }
  
  .loading {
    text-align: center;
    color: #555;
    font-size: 16px;
  }
  