
  <main class="main">
    <div class="container">
    <link rel="stylesheet" href="cards-org.component.css">
      <div class="title-section">
        <h1>Organizaciones Benéficas</h1>
        <button class="btn btn-login" routerLink="/login">Inicia sesión</button>
    </div>
    <app-in-card></app-in-card>

      <!-- Join Section -->
      <div class="join-section">
        <div class="join-image">
          <img src="imagen4.png" alt="Equipo de voluntarios">
        </div>
        <div class="join-content">
          <h2>¿Eres una organización?</h2>
          <h3>¡ÚNETE AHORA!</h3>
          <button class="btn btn-join" routerLink="/formorg">UNIRME</button>
        </div>
      </div>
    </div>
  </main>
