<div class="content-hero">
  <section class="hero">
    <div class="container hero-content">
      <div class="hero-text">
        <h1>Organización Nutriendo A Todos</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="hero-contact">
          <span>(55) 1234-5678</span>
          <span>NutriendoATodos</span>
        </div>
      </div>
      <div class="hero-image">
        <img src="imagen1.png" alt="People with groceries" />
      </div>
    </div>
  </section>
</div>
