<div class="abount-us-content">
  <section class="about-us">
    <div class="container">
      <h2>¿Quiénes somos?</h2>
      <div class="about-us-content">
        <div class="about-us-image">
          <img src="imagen2.png" alt="Volunteer with food" />
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </section>
</div>
