<main class="main-content">
    <div class="container">
        <!-- <h1>¡TU APOYO ES MUY IMPORTANTE!</h1> -->

        <!-- Formulario Unificado -->
        <form [formGroup]="donacionForm" (ngSubmit)="onSubmit()" class="donation-form">
            <!-- Contenedor de Datos Personales y Datos de la Tarjeta -->
            <div class="content-grid">
                <!-- Datos Personales -->
                <div class="content-grid-left">
                    <h3>DATOS PERSONALES</h3>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" formControlName="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido paterno:</label>
                        <input type="text" id="apellido" formControlName="apellido_p" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido materno:</label>
                        <input type="text" id="apellido" formControlName="apellido_m" required>
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo:</label>
                        <input type="email" id="correo" formControlName="correo" required>
                    </div>
                    <div class="form-group">
                        <label for="evento">Organización:</label>
                        <div class="select-wrapper">
                            <select id="evento" formControlName="id_org" required>
                                <option value="">Seleccionar Organización</option>
                                <option *ngFor="let org of organizaciones" [value]="org.id">
                                    {{ org.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Datos de la Tarjeta -->
                <div class="content-grid-right">
                    <h3>DATOS DE LA TARJETA</h3>
                    <div formGroupName="tarjeta">
                    <div class="form-group">
                        <label for="numero">Número de tarjeta:</label>
                        <input type="text" id="numero" formControlName="numero_tarjeta" required>
                    </div>
                    <div class="form-group">
                        <label for="cvv">CVV:</label>
                        <input type="number" id="cvv" formControlName="cvv" required>
                    </div>
                    <div class="form-group">
                        <label for="expiración">Fecha de expiración:</label>
                        <input id="expiración" formControlName="fecha_expiracion" type="month"
                        required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad de la donación:</label>
                    <input id="cantidad" 
                    type="number"
                    formControlName="cantidad" placeholder="MXN"
                    required>
                </div>
            </div>
            </div>

            <!-- Botón de Enviar -->
            <button type="submit" class="btn btn-submit">DONAR</button>
        </form>

        <!-- Lista de Productos -->
        <div class="content-grid3">
            <div class="form-group">
                <label>Lista de Productos:</label>
                <div class="products-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Equivalencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Atún</td>
                                <td><p>1 kg</p></td>
                                <td>$20</td>
                            </tr>
                            <tr>
                                <td>Frijol</td>
                                <td><p>1 kg</p></td>
                                <td>$50</td>
                            </tr>
                            <tr>
                                <td>Arroz</td>
                                <td><p>1 kg</p></td>
                                <td>$70</td>
                            </tr>
                            <tr>
                                <td>Sopa/Pasta</td>
                                <td><p>200 gr</p></td>
                                <td>$15</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="form-note">*Puedes seleccionar solo un producto con una cantidad máxima de 3 pzs.</p>
            </div>
        </div>
    </div>
</main>
