/* General Styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-areas: 
        "content-grid content-grid2"
        "content-grid3 content-grid3";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Main Content Styles */
.main-content {
    flex: 1;
    padding: 40px 0;
}

h1 {
    text-align: center;
    color: #003366; 
    font-size: 2.5em;
    margin-bottom: 40px;
    margin-top: 0; 
}

/* Content Grid Areas */
.content-grid {
    grid-area: content-grid;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    gap: 20px;
}



.content-grid-left,
.content-grid-right {
    width: 100%; 
    background: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-grid3 {
    grid-area: content-grid3;
    background: #e3f2fd; 
    width: 1160px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.donation-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #003366;
}

input,
select,
option {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}

input:focus,
select:focus {
    border-color: #007bb8; 
    outline: none;
    box-shadow: 0 0 0 3px rgba(119, 184, 232, 0.2);
}

/* Products Table */
.products-table {
    overflow-x: auto;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bb8;
    color: #fff;
}

.form-note {
    font-size: 0.9em;
    color: #7d7d7d; 
    margin-top: 10px;
    font-style: italic;
}

/* Buttons */
.btn-submit {
    display: block;
    background-color: #E7AF3E;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 1.1em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #e4a82e;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        grid-template-areas: 
            "content-grid"
            "content-grid2"
            "content-grid3";
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .content-grid2 #cvv #expiración {
        flex-direction: column; /* Asegura que los campos se apilen en pantallas pequeñas */
    }

    table {
        min-width: 500px;
    }
}
