/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
}

body::-webkit-scrollbar{
    width: 15px;
    background-color: rgba(235, 238, 243);
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(253, 185, 122);
    border-radius: 15px;
}