body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-donate {
    background-color: #F4A261;
    color: white;
  }
  
  .btn-donate:hover {
    background-color: #E76F51;
  }
  
   
/* Hero Section Styles */
.hero {
  background-color: #77B8E8;
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; 
  overflow: hidden;
  display: grid;
}

.hero-content {
  display:grid;
  justify-content: center;
  align-items: flex-end;
  padding: .001px;
  display: flex
}

.hero h1 {
  font-size: 2.2em;
  margin-bottom: 90px;
  color: white;
}

.hero p {
  font-size: 1em;
  margin-bottom: 60px;
  color: #FFFF;
  font-weight:lighter;
}

.hero-contact {
  margin-left: 360px;
  display: flex;
  gap: 80px;
}



.hero-image img {
  width: 300px;
  height: 300px;
  border-radius: 2px;
object-fit: cover;
}

  
  /* About Us Section Styles */
  .about-us {
    padding: 1px;
    margin: 1px;
  }
  
  .about-us h2 {
    font-size: 2em;
    margin-bottom: 40px;
  }
  
  .about-us-content {
    display:flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  
  .about-us-image img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  /* How We Work Section Styles */
  .how-we-work {
    background-color: #B2D5F1;
    padding: 10px 0;
    margin: 10px;
    border-radius: 10px;
  }
  
  .how-we-work h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .work-steps {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .work-step {
    text-align: center;
  }
  
  .step-icon {
    font-size: 3em;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .header-content, .hero-content, .about-us-content, .contact-content {
      grid-template-columns: 1fr;
    }
  
    .main-nav {
      display: none;
    }
  
    .work-steps {
      flex-direction: column;
      gap: 40px;
    }
  }