
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-donate {
    background-color: #F4A261;
    color: white;
  }
  
  .btn-donate:hover {
    background-color: #E76F51;
  }
  
   
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .header-content, .hero-content, .about-us-content, .contact-content {
      grid-template-columns: 1fr;
    }
  
    .main-nav {
      display: none;
    }
  
    .work-steps {
      flex-direction: column;
      gap: 40px;
    }
  }